<% @posts.each do |post| %>
    <div class="col-md-8 col-md-2 mx-auto">
        <div class="card-wrap">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <%= link_to user_path(post.user), class: "no-text-decoration" do %>
                        <%= 
                        # image_tag avatar_url(post.user), class: "post-profile-icon"
                        %>
                    <% end %>
                    <%= link_to user_path(post.user), class: "black-color no-text-decoration",　title: post.user.email do %>
                        <strong><%= post.user.email %></strong>
                    <% end %>

                    <% if post.user_id == current_user.id %>
                        <%= link_to posts_path(post), method: :delete, class: "ml-auto mx-0 my-auto" do %>
                            <div class="delete-post-icon"></div>
                        <% end %>
                    <% end %>
                </div>
                <%= link_to(posts_path(post)) do %>
                    <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
                <% end %>
                <div class="card-body">
                    <div class="row parts">
                        <%# ==========ここから========== %>
                        <div id="like-icon-post-<%= post.id.to_s %>">
                            <% if post.liked_by(current_user).present? %>
                                <%= link_to "いいねを取り消す", post_like_path(post.id, post.liked_by(current_user)), method: :delete, remote: true, class: "loved hide-text" %>
                            <% else %>
                                <%= button_to "いいね", post_like_index_path(post), method: :POST, remote: true, class: "love hide-text" %>
                            <% end %>
                        </div>
                        <%# ========== ここまで修正 ========== %>

                        <%= link_to "", "#", class: "comment" %>
                    </div>
                        <%# ==========ここから========== %>
                    <div id="like-text-post-<%= post.id.to_s %>">
                        <%= 
                        # render "like_text", { like: post.like }
                        %>
                    </div>
                        <%# ==========ここまで修正========== %>
                    <div>
                        <span><strong><%= post.user.email %></strong></span>
                        <span><%= post.caption %></span>
                        <%= link_to time_ago_in_words(post.created_at).upcase + "前", posts_path(post), class: "post-time no-text-decoration" %>
                        <hr>

                        <% #comments = Comment.where(id: post.id) %>
                        <% post.comments.each do |c| %>
                            <a href="/users/<%= post.user.id %>"><%= c.user.email %></a>
                            <%= c.content %>
                            <% if current_user == c.user %>
                                <button class:="btn btn-danger">
                                    <%=link_to "Delete", post_comment_path(post, c), method: :delete %>
                                </button>
                            <% end %>
                            <hr>
                        <% end %>
                        
                        <div class="form-group">
                            <%= form_with model: [post, @comment] do |f| %>
                                <%= f.text_field :content, class:"row col-form col-4" %>
                                <br>
                                <%= f.submit "Post comment", class:"row btn btn-primary btn-block col-6" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
